<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Reachy Dashboard</title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <!--     Fonts and icons     -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/material-icons.css"
    />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link
      href="../assets/css/material-dashboard.css?v=2.1.2"
      rel="stylesheet"
    />
  </head>

  <body class="">
    <div class="wrapper ">
      <div class="sidebar" data-color="purple" data-background-color="white">
        <div class="logo">
          <a href="#" class="simple-text logo-normal">Reachy</a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item active  ">
              <a class="nav-link" href="/">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/wifi">
                <i class="material-icons">wifi</i>
                <p>WiFi Settings</p>
              </a>
            </li>
            <li class="nav-item active-pro ">
              <a class="nav-link" href="/halt">
                <i class="material-icons">power_setting_new</i>
                <p>Halt</p>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <h1>Reachy Status</h1>
            </div>
          </div>
        </nav>

        <div class="content">
          <div class="container-fluid">
            <div class="row" id="reachyParts"></div>
          </div>
        </div>
      </div>
    </div>

    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    <script>
      const refreshStatus = () => {
        const partsElement = document.getElementById("reachyParts");

        const request = new XMLHttpRequest();
        request.onload = e => {
          const status = JSON.parse(request.response);
          // if (status == true) {
          //   makeCardforContainers();
          // }
          // else {
          //   partsElement.innerHTML = "All good.";
          // }
          makeCardforContainers();
        };
        request.open("GET", "/api/missing_containers_bool");
        request.send();
      };

      const makeCardforContainers = () => {
        const request = new XMLHttpRequest();
        request.onload = e => {
          const status = JSON.parse(request.response);
          for (const part in status) {
            const partsElement = document.getElementById("reachyParts");
            partsElement.appendChild(makeCardForPart(part, status[part]));
          }
        }
        request.open("GET", "/api/missing_containers_names");
        request.send();
      }

      const makeCardForPart = (part, missing_containers) => {
        const iconName = {"ok": "check_circle", "problem": "highlight_off"};
        const level = {"ok": "success", "problem": "danger"};

        const card = document.createElement("div"); 
        card.className = "card card-stats";

        const cardHeader = document.createElement("div");

        const cardIcon = document.createElement("div");
        cardIcon.className = "card-icon";
        const iconEl = document.createElement("i");
        iconEl.className = "material-icons";

        cardIcon.appendChild(iconEl);
        const cardTitle = document.createElement("p");
        cardTitle.className = "card-category";
        cardTitle.innerHTML = prettyName(part);
        const cardName = document.createElement("h3");
        cardName.className = "card-title"

        if (missing_containers.length == 0) {
          iconEl.innerHTML = iconName["ok"];
          cardHeader.className = `card-header card-header-${level["ok"]} card-header-icon`;
          cardName.innerHTML = "";
        }
        else {
          iconEl.innerHTML = iconName["problem"];
          cardHeader.className = `card-header card-header-${level["problem"]} card-header-icon`;
          cardName.innerHTML = "Missing containers";
        }

        cardHeader.appendChild(cardIcon);
        cardHeader.appendChild(cardTitle);
        cardHeader.appendChild(cardName);
        card.appendChild(cardHeader);  

        const cardFooter = document.createElement("div");
        cardFooter.className = "card-footer";
        const stats = document.createElement("div");
        stats.className = "stats";

        const statsTxt = document.createElement("a");
        const statsTxtt = document.createElement("a");

        centerText = document.createElement("center");
        cardText = document.createElement("p");
        
        centerText.appendChild(cardText);

        cardText.className = "card-text";
        if (missing_containers.length != 0) {
          cardText.innerHTML = prettyContainerList(missing_containers);
          statsTxt.href = "https://docs.pollen-robotics.com/help/debug/";
          statsTxt.target = "_blank";
          statsTxt.innerHTML = "Check Reachy's 2021 documentation to learn how to reconnect the motors.";
          statsTxtt.innerHTML = "Hey";
        }
        else {
          cardText.innerHTML = `Reachy's ${part} looks good!`
        }
        card.appendChild(centerText);
        stats.appendChild(statsTxt);
        stats.appendChild(statsTxtt);
        cardFooter.appendChild(stats);
        card.appendChild(cardFooter); 

        const wrapper = document.createElement("div");
        wrapper.className = "col-md-4";
        wrapper.appendChild(card);

        return wrapper;
      };

      const prettyContainerList = (list) => {
        var pretty = "";
        for (var i = 0; i < list.length; i++) {
          pretty = pretty.concat(list[i] + "<br />");
        }
        return pretty;
      }
      const prettyName = (str) => {
        const splitStr = str.toLowerCase().split('_');
        for (var i = 0; i < splitStr.length; i++) {
            splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
        }
        return splitStr.join(' '); 
     }
     window.onload = refreshStatus;
    </script>

    <script>

    </script>
  </body>
</html>
