<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Reachy Dashboard</title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="../assets/css/material-icons.css" />
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
</head>

<body onload="onloadSetup({{ wifi_list }})"></body>

<body class="">
  <div class="wrapper ">

    <div class="sidebar" data-color="purple" data-background-color="white" >
      <div class="logo"><a href="#" class="simple-text logo-normal">Reachy</a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="/wifi">
              <i class="material-icons">wifi</i>
              <p>WiFi Settings</p>
            </a>
          </li>
          <li class="nav-item active-pro ">
            <a class="nav-link" href="/halt">
              <i class="material-icons">power_setting_new</i>
              <p>Halt</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

  <div class="main-panel">

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">WiFi Settings</a>
          </div>
        </div>
    </nav>

    <div class="content">

        <div class="container-fluid">

          <div class="row">
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-header card-header-icon" id="cardLevel">
                    <div class="card-icon">
                        <i class="material-icons" id="cardIcon"></i>
                    </div>
                    <p class="card-category" id="cardTitle"></p>
                    <h3 class="card-title" id="cardSSID"></h3>
                    </div>
                    <div class="card-footer">
                    <div class="stats">
                        <a href="javascript:;" id="cardMessage"></a>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Add new WiFi</h4>
                    </div>
                    <div class="card-body">
                      <form action="/update-wifi" method="POST">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">SSID</label>
                              <select class="form-control selectpicker" data-style="btn btn-link" name="ssid" id="ssidSelecter" required> 
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Password</label>
                              <input type="password" class="form-control" name="password" id="passwordForm" required><br>
                              <input type="checkbox" onclick="revealPassword()"> Show Password
                            </div>
                          </div>
                        </div>                        
                        <button type="submit" class="btn btn-primary pull-right" id="wifiSubmit" onclick="alert('Wifi updated. Check Reachy new IP adress to access this dashboard.')">Update Config</button>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Reachy's IP address</h4>
                </div>
                <div class="card-body" id="ipcard">
                  <p style="text-align: center;" id="ipadress"></p>
                </div>
              </div>
            </div>      
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3>Hotspot</h3>
              <div class="togglebutton">
                <label>
                    <input type="checkbox" id="hotspotSwitch" onchange="switchHotspot()">
                    <span class="toggle"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script>
    function displayIp() {
      const request = new XMLHttpRequest();
      request.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById('ipadress').innerHTML = this.response.slice(1,-1);
      }
      }
      request.open("GET", "/api/ip");
      request.send();
    }

    function handleOnloadHotspot() {
      checkboxHotspot = document.getElementById('hotspotSwitch');
      const request = new XMLHttpRequest();
      request.responseType = "json";

      request.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          if (this.response['mode'] == 'Hotspot') {
            checkboxHotspot.checked = true;
          } else {
            checkboxHotspot.unchecked = true;
          }
        }
      }

      request.open("GET", "/api/connection_status");
      request.send();
    }

    function switchActivationWifiForm(activate) {
      ssidSelecter = document.getElementById('ssidSelecter');
      passwordForm = document.getElementById('passwordForm');
      wifiSubmit = document.getElementById('wifiSubmit');

      ssidSelecter.disabled = activate;
      passwordForm.disabled = activate;
      wifiSubmit.disabled = activate;
    }

    function switchHotspot() {
      checkboxHotspot = document.getElementById('hotspotSwitch');

      const request = new XMLHttpRequest();
      let state = "";
      if (checkboxHotspot.checked) {
        state = "on";
        // switchActivationWifiForm(activate=true);
      } else {
        state = "off";
        // switchActivationWifiForm(activate=false);
      }

      checkboxHotspot.disabled = true;
      setTimeout(function(){checkboxHotspot.disabled = false;}, 5000);
      setTimeout(updateEverything, 5000);
      request.open("POST", "/api/hotspot");
      request.send(state);
      }

    function onloadAvailableNetworks(wifi_list) {
      var ssidSelecter = document.getElementById('ssidSelecter');
      for (let wifiId in wifi_list){
        var wifiOption = document.createElement("option");
        wifiOption.text = wifi_list[wifiId];
        ssidSelecter.add(wifiOption);
        }
      }

    function updateAvailableNetworks() {
      const request = new XMLHttpRequest();
      request.responseType = "json";

      var ssidSelecter = document.getElementById('ssidSelecter');

      while (ssidSelecter.options.length > 0) {
        ssidSelecter.remove(0);
      }

      request.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        for (let wifiId in this.response){
          var wifiOption = document.createElement("option");
          wifiOption.text = this.response[wifiId];
          ssidSelecter.add(wifiOption);
        }
      }
      }
      request.open("GET", "/api/available_networks");
      request.send();
    }

    function fillConnectionCard() {
      var cardLevel = document.getElementById("cardLevel");
      var cardIcon = document.getElementById("cardIcon");
      var cardTitle = document.getElementById("cardTitle");
      var cardSSID = document.getElementById("cardSSID");
      var cardMessage = document.getElementById("cardMessage");

      const levelClasses = ['card-header-succes', 'card-header-error', 'card-header-warning'];
      const request = new XMLHttpRequest();
      request.responseType = "json";

      request.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        cardLevel.classList.remove(...levelClasses);
        cardLevel.classList.add(`card-header-${this.response["level"]}`);
        cardIcon.innerHTML = this.response['icon'];
        cardTitle.innerHTML = this.response['title'];
        cardSSID.innerHTML = this.response['SSID'];
        cardMessage.innerHTML = this.response['message'];
        }
      }
      request.open("GET", "/api/connection_card_info");
      request.send();
    }

    function revealPassword() {
      var passwordForm = document.getElementById('passwordForm');
      if (passwordForm.type == 'password') {
        passwordForm.type = 'text';
      }
      else {
        passwordForm.type = 'password';
      }
    }

    function onloadSetup(wifi_list) {
      handleOnloadHotspot();
      displayIp();     
      onloadAvailableNetworks(wifi_list);
      fillConnectionCard();
    }

    function updateEverything() {
      displayIp();
      updateAvailableNetworks();
      fillConnectionCard();
    }
  </script>
</body>

</html>